div.tip{
    position: absolute;
    left: -10%;
    bottom: 10px;
    z-index: 2;
    color: #ffffff;
    background-color: rgba(0,0,0,0.2);
    font-weight: bold;
    border-radius: 10px;
    width: auto;
    line-height: 20px;
    padding: 10px 20px;
    max-width: 50%;
    display: none;
    opacity: 0;
}